---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
      },
      { text: 'About me', href: '/about' },
    ]}
    image={{ src: 'https://theknackhub.com/images/desk.jpg', alt: 'The Knack Hub' }}
  >
    <Fragment slot="title">Welcome to the knack hub</Fragment>
    <Fragment slot="subtitle"> What can I do for you today ? </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Layout>
